@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #1e40af;
  --primary-light: #2563eb;

  --secondary: #1e3a8a;

  --eliminate: #dc2626;
  --eliminate-light: #ef4444;

  --active: #ef4444;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-secondary: var(--secondary);
  --color-eliminate: var(--eliminate);
  --color-eliminate-light: var(--eliminate-light);
  --color-active: var(--active);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
