@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-mainground: #f3f3f3;
  --color-foreground: #171717;
  --color-primary: #000726;
  --color-secondary: #0070c0;
  --color-eliminate: #dc2626;
  --color-eliminate-light: #ef4444;
  --color-active: #ef4444;
  --color-warning: #ffcccc;
}

body {
  background: theme(--color-mainground);
  color: theme(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
